/* 
    General Styles
*/
.scrolling-wrapper{
    overflow-x: auto;
    
   background-color: #000000;
background-image: linear-gradient(315deg, #000000 50%, #ffffff 85%);
}
h1{color: goldenrod;
border-color: black};

img {
    width: 100px; height: 160px;
    border-radius: 10px;
    //background-size: cover;
    margin: 0 auto;
   
    
};
h2 {color: goldenrod;
border-color: black};

img:hover{
width: auto;
 //-ms-transform: scale(1.5); /* IE 9 */
  //-webkit-transform: scale(1.5); /* Safari 3-8 */
 transform: scale(1.5); 
}
